.contact-section{
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../img/contact\ bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 100%;
    position: relative;
    border-bottom: 8px solid #222; 
    height: 100vh;
    min-height: 500px;
}
.contact-setion .contact-box{
    position: relative;
    max-width: 900px;
    height: auto;
    
}
.contact-form .info-section {
    border: none;
    border-bottom: 3px double black;
    border-radius: 5px;
    box-shadow: #222;
    padding: 0;
    padding-bottom: 10px;
}
.contact-form input{
    border: none;
    background: none;
    max-width: 100%;
}

.contact-form textarea{
    border: none;
    min-height: 110px;
    min-width: 100%;
    background: none;
}
.contact-title{
    padding: 20px;
}

.contact-form .info-section {
    margin-bottom: 40px;
}
.contact-section .row{
    background-color: whitesmoke;
    margin: 0 auto;
}
.contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.footer-icon{
    margin:50px;
}

